<!-- crear el formulario de búsqueda-->
<h2>Search a player</h2>
{{!-- players --}}

<form action="/search" method="GET">
  </div>
     <div class="form-group col-md-4">
    <label for="inputNick">Nick</label>
    <input name="nick"type="text" class="form-control" id="inputNick" placeholder="Be original">
  </div>
    <div class="form-group col-md-4">
    <label for="inputNickName">Nick In Game</label>
    <input name="nickInGame"type="text" class="form-control" id="inputNickInGame" placeholder="Your nick inside the game">
  </div>
   <div class="form-group col-md-4">
      <label for="inputCountry">Country</label>
      <select name="country"id="inputCountry" class="form-control">
        <option selected>Select your Country</option>
        <option>Spain</option>
        <option>France</option>
        <option>Germany</option>
      </select>
    </div>
      <div class="form-group col-md-4">
      <label for="inputGame">Game</label>
      <select name="game"id="inputGame" class="form-control">
        <option selected>Choose Worm!</option>
        <option>Fortnite</option>
        <option>Clash Royale</option>
        <option>CS:GO</option>
      </select>
    </div>
  <div >
    <!--<div class="form-group col-md-4">
      <label for="inputLevel">Level ingame</label>
      <input  name="levelInGame"type="text" class="form-control" id="inputLevel" placeholder="85">
    </div>
    <div class="form-group col-md-4">
      <label for="inputGoal">Goal</label>
      <select id="inputGoal" class="form-control">
        <option selected>Choose Worm!</option>
        <option>Profesional</option>
        <option>Hardcore</option>
        <option>Casual</option>
      </select>
    </div>
  <div class="form-group col-md-4">
      <label for="languages">Language</label>
      <select id="inputLanguages" class="form-control">
        <option selected>Choose Worm!</option>
        <option>ES</option>
        <option>ENG</option>
        <option>RU</option>
      </select>
    </div>
<div class="form-group col-md-4">
  <label for="languages">Player schedule</label>
  <select class="custom-select" multiple>
  <option selected>Game Schedule</option>
  <option value="1">Morning</option>
  <option value="2">Afternoon</option>
  <option value="3">Night</option>
  </select>
</div>-->
<div class="form-group col-md-12">
  <button type="reset" class="btn btn-primary">Reset</button>
  <button type="submit" class="btn btn-primary">Search</button>
</div>
</form>

{{#if error}}
  <div style="border:red solid 2px">{{error.message}}</div>
{{/if}} 
<div class="div-player-list">
 <h2>Players list</h2>
<div>
{{#unless players}}
 <h3>No results, try another criteria or go fuck yourself</h3>
{{/unless}} 

  {{#each players as |player|}}
    <div style="border: black solid 2px; padding: 10px; width: 30%; margin: 5px 0;float:left; margin:10px">
      </form>
     
  <div class="panel panel-default">
    <div style="background:lightblue" class="panel-heading"><a href="/player/{{player._id}}">{{player.nick}}</a></div>
    {{#if avatarURL}}<div class="panel-body"><img style="width:75px;height:75px" src="{{player.avatarURL}}"> </div>{{/if}} 
    {{#unless avatarURL}}<div class="panel-body"><img style="width:75px;height:75px" src="https://2static1.fjcdn.com/thumbnails/comments/Just+when+i+thought+quotoh+thats+enough+nasty+_5a0591bbbea7ad8c9e4dfb767e9c1b74.jpg"> </div>{{/unless}} 

    <div class="panel-body">Nick in Game:{{player.nickInGame}} </div>
    <div class="panel-body">Country:{{player.country}}</div>
    <div class="panel-body">Game:{{player.game}} </div>
  </div>

  <div>
        <a class="btn btn-success" style="margin: 5px" href="/player/{{player._id}}">View profile</a>
 </div>
</div>

</div>
  {{/each}}
</div>
</div>

