<!-- crear el listado de resultados de búsqueda-->

 <h2>Players list</h2>
<div>
  {{#each players as |player|}}
    <div style="border: black solid 2px; padding: 10px; width: 80%; margin: 5px 0;">
      </form>
     
  <div class="panel panel-default">
    <div style="background:lightblue" class="panel-heading"><a href="/player/{{player._id}}">{{player.nick}}</a></div>
    <div class="panel-body">Nick in Game:{{player.nickInGame}} </div>
    <div class="panel-body">Country:{{player.country}} </div>
    <div class="panel-body">Game:{{player.game}} </div>
  </div>

  <div>
        <a class="btn btn-success" style="margin: 5px" href="/player/{{player._id}}">View profile</a>
 </div>
</div>

</div>
  {{/each}}
</div>

