<div class="container">
<br>
<br>
	<div class="row" id="main">
        <div class="col-md-4 well" id="leftPanel">
            <div class="row">
                <div class="col-md-12">
                	<div>
        				<img src="{{session.avatarURL}}" alt="Texto Alternativo" class="img-circle img-thumbnail">
        				  <h2>{{session.name}}</h2>
        			            <div class="btn-group">
                            <button type="button" class="btn btn-warning">
                                Social</button>
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div>
        			</div>
        		</div>
            </div>
        </div>
        <div class="col-md-8 well" id="rightPanel">
            <div class="row">
    <div class="col-md-12">
    	<form role="form" action="/player" method="POST">
			<h2>Edit your profile.<small>It's always easy</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
            <label for="inputNick">Nick</label>
            <input type="text" name="nick" id="first_name" class="form-control input-lg" placeholder="Nick" {{#if session.nick}} value="{{session.nick}}" {{/if}} tabindex="1">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
            <label for="inputNickName">Nick In Game</label>
						<input type="text" name="nickInGame" id="last_name" class="form-control input-lg" placeholder="Nick in Game" {{#if session.nickInGame}} value="{{session.nickInGame}}" {{/if}} tabindex="2">
					</div>
				</div>
			</div>
      <div class="row">
			  <div class="col-xs-12 col-sm-6 col-md-6">
			    <div class="form-group">
            <label for="inputCountry">Country</label>
              <select name="country" id="inputCountry" class="form-control {{#if errors.country}} is-invalid {{/if}}">
                {{#unless session.country}}<option select>Select Country</option>{{/unless}}
                {{#if session.country}}<option selected>{{session.country}}</option>{{/if}}
                <option value="Spain">Spain</option>
                <option value="France">France</option>
                <option value="Germany">Germany</option>
              </select>
                  <div class="invalid-feedback">
                    {{ errors.country }}
                  </div>
      </div>
          </div>
            </div>
      <div class="row">
			  <div class="col-xs-12 col-sm-6 col-md-6">
			    <div class="form-group">
            <label for="inputGame">Game</label>
              <select name="game" id="inputGame" class="form-control {{#if errors}} is-invalid {{/if}}">
               {{#unless session.game}}<option select>Select Game</option>{{/unless}}
               {{#if session.game}}<option selected>{{session.game}}</option>{{/if}}
               <option>Fortnite</option>
               <option>Clash Royale</option>
               <option>CS:GO</option>
               </select>
                    <div class="invalid-feedback">
                         {{ errors.game }}
                    </div>
          </div>
				</div>
			</div>
        </div>
          </div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"></div>
				<div class="col-xs-12 col-md-6"><button id="button-player-account" class="btn btn-primary" type="submit">Submit</button></div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
        </div>
     </div>       
</div>